{% extends 'base.html' %}
{% block body %}
<h1>{{article.title}}</h1>
<p>{{article.content}}</p>
<p>{{article.user}}</p>
<hr>
<!-- 아직 comment_create를 만들지 않았지만... -->
 <!-- detail에서 comment값만 변경되므로 action을 채워줌 -->
<form action="{% url 'articles:comment_create' article.id %}" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit">
</form>

<hr>
{% for comment in article.comment_set.all %}
<!-- 현재 페이지의 article에 딸린 모든 comment를 가져와 -->
 <!-- views.py에서 쓰는 경우 comment = article.comment_set.all() -->
  <li>{{comment.user.username}} - {{comment.content}}</li>
{% endfor %}




<!-- <a href="{% url 'articles:index' %}">home</a> -->

{% endblock %}