{% extends 'base.html' %}
{% block body %}
<h1>{{article.title}}</h1>
<p>{{article.content}}</p>
<p>{{article.user}}</p>
<a href="{% url 'articles:index' %}">home</a>

{% if user == article.user %}
<a href="{% url 'articles:update' article.id %}">update</a>
<a href="{% url 'articles:delete' article.id %}">delete</a>
{% endif %}

<hr>
<!-- 아직 comment_create를 만들지 않았지만... -->
 <!-- detail에서 comment값만 변경되므로 action을 채워줌 -->
<form action="{% url 'articles:comment_create' article.id %}" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit">
</form>

<hr>
{% for comment in article.comment_set.all %}
<!-- 현재 페이지의 article에 딸린 모든 comment를 가져와 -->
 <!-- views.py에서 쓰는 경우 comment = article.comment_set.all() -->
  <li>{{comment.user.username}} - {{comment.content}}</li>

<!-- user = 장고에 기본으로 들어가 있음 -->
{% if user == comment.user %}
<a href="{% url 'articles:comment_delete' article.id comment.id %}">delete</a>
{% endif %}
<!-- 가려는 주소는 'articles/123/comments/123/delete' -->
{% endfor %}





{% endblock %}